version: '3'

services:
  frontend:
    build: .
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/usr/src/tutorial
    command: sh -c 'cd tutorial && npm start'
    ports:
      - '3005:3000'
    tty: true